{
  "baseUrl": "https://staging.tides.coloredcow.com//",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "backendUrl": "https://api.staging.tides.coloredcow.com/api/v1/session",
    "phone": "7834811114",
    "password": "secret1234",
    "staff": {
      "phone": "9820112345",
      "password": "12345678"
    }
  },
  "projectId": "ocex65",
  "retries": {
      "runMode": 2
  }
}