import { defineConfig } from 'cypress'
import cypressSplit from 'cypress-split'

export default defineConfig({
  viewportWidth: 1366,
  viewportHeight: 768,
  env: {
    backendUrl: 'https://api.glific.test:4001/api',
    phone: '7834811114',
    password: 'Secret1234!',
    staff: {
      phone: '9820112345',
      password: 'Secret12345678!',
    },
  },
  defaultCommandTimeout: 8000,
  projectId: 'ocex65',
  video: false,
  e2e: {
    setupNodeEvents(on, config) {
      cypressSplit(on, config)
      return config
    },
    baseUrl: 'https://glific.test:3000/',
    specPattern: 'cypress/e2e/**/*.{js,jsx,ts,tsx}',
  },
})
