{
  "baseUrl": "https://glific.test:3000/",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "backendUrl": "https://api.glific.test:4001/api/v1/session",
    "phone": "7834811114",
    "password": "secret1234",
    "staff": {
      "phone": "9820112345",
      "password": "12345678"
    }
  },
  "defaultCommandTimeout": 8000,
  "projectId": "ocex65",
  "retries": {
    "runMode": 2
  },
  "video": false
}
