{
  "baseUrl": "https://cc.tides.coloredcow.com/",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "backendUrl": "https://api.cc.tides.coloredcow.com/api/v1/session",
    "phone": "9810635148",
    "password": "Secret1234!"
  },
  "projectId": "ocex65",
}