{
  "baseUrl": "https://glific.test:3000/",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "backendUrl": "https://api.glific.test:4001/api",
    "phone": "DG_RYSS_LOGIN",
    "password": "DG_RYSS_PASSWORD",
  },
  "defaultCommandTimeout": 8000,
  "projectId": "ocex65",
  "retries": {
    "runMode": 2
  },
  "video": true
}
