{
  "baseUrl": "https://glific.test:3000/",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "backendUrl": "https://api.glific.test:4001/api",
    "phone": "${{ secrets.DG_RYSS_LOGIN }}",
    "password": "secret1234",
    "staff": {
      "phone": "${{ secrets.DG_RYSS_LOGIN }}",
      "password": "12345678"
    }
  },
  "defaultCommandTimeout": 8000,
  "projectId": "ocex65",
  "retries": {
    "runMode": 2
  },
  "video": true
}
